<div class="container">
  <p class="h2">Shorten your long URL here</p>
  <%= form_with(model: url_lookup, url: url_shortener_index_path, class: 'form-control') do |form| %>
    <% errors = url_lookup.errors %>
    <div>
      <%= form.label :target_url, style: "display: block", class: "label" %>
      <%= form.text_field :target_url, class: class_names('input', errors.key?(:target_url) ? 'input-error' : ''), placeholder: 'e.g. https://www.google.com' %>
      <span class="input-error-msg"><%= errors.full_messages_for(:target_url).first %></span>
    </div>
    <div>
      <%= form.submit "Shorten!", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
