<div class="container">
  <p class="h2"><%= title %></p>
  <div class="flex flex-col space-y-4">
    <%= render 'shared/readonly_link', field_label: 'Short URL', field_value: url_lookup.short_url %>
    <%= render 'shared/readonly_field', field_label: 'Target URL', field_value: url_lookup.target_url %>
    <%= render 'shared/readonly_field', field_label: 'Title', field_value: url_lookup.title %>
  </div>
</div>