<% if flash[:error].present? %>
  <div class="alert-bar">
    <span class="alert-message"><%= flash[:error] %></span>
  </div>
<% end %>


<%= render 'new_form', url_lookup: @url_lookup %>

<% if @created_url_lookup %>
  <%= render 'url_lookup_details', url_lookup: @created_url_lookup, title: 'Created URL' %>
<% end %>
