@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Font */
  .h2 {
    @apply text-3xl font-bold mb-2;
  }

  .label {
    @apply text-gray-700 font-bold;
  }

  .link {
    @apply text-indigo-500 hover:text-indigo-700;
  }

  /* Form */
  .form-control {
    @apply flex flex-col space-y-4;
  }

  .input {
    @apply shadow-sm rounded-md w-full sm:max-w-96;
  }

  .input-primary {
    @apply focus:ring-indigo-500 focus:border-indigo-500;
  }

  .input-error {
    @apply border-red-500;
  }

  .input-error-msg {
    @apply text-red-500 text-sm mt-1;
  }

  /* Alerts */
  .alert-bar {
    @apply fixed top-0 left-0 w-full bg-red-500 text-white px-4 py-2 flex justify-between;
  }

  /* Buttons */
  .btn {
    @apply inline-flex items-center px-4 py-2 font-bold rounded-md focus:ring-2 focus:outline-none;
  }

  .btn-primary {
    @apply bg-indigo-500 text-white hover:bg-indigo-700 focus:ring-indigo-500;
  }
}
