<!DOCTYPE html>
<html>
<head>
  <title>Url Shortener</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<main class="container mx-auto mt-28 px-4 md:px-32 w-full flex flex-col space-y-12">
  <%= yield %>
</main>
</body>
</html>
